<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Edit <%= campground.name%></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/campgrounds/<%= campground._id%>/?_method=PATCH" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" value='<%= campground.name %>'
                           name="campground[name]" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" value='<%= campground.image %>'
                           name="campground[image]" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" value='<%= campground.description %>'
                           name="campground[description]" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" min="0.00" max="1000000.00" step="0
					.25"
                           value="<%= campground.price.toString() %>"
                           name="campground[price]" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" value="<%= campground.features[0]
                            .text%>"
                           name="feature1" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="feature2"
                           value="<% if(campground.features.length > 1) { %><%= campground
                                   .features[1].text %>"><% } else { %>"><% }%>

                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="feature3"
                           value="<% if(campground.features.length == 3) { %><%= campground
                                   .features[2].text  %>"><% } else { %>"><% }%>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>


</div>

<% include ../partials/footer %>
